.about-program {
  padding-bottom: 42px;
}

.about-program__heading {
  .text-style-h2;
  margin: 0;
  margin-bottom: 30px;
}

.about-program__list {
  .mp-null;
  list-style: none;
}

.about-program__item {
  .text-style-3;
  color: #444444;
  line-height: 1.29;
  display: flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 26px;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.about-program__item-icon {
  display: block;
  margin-right: 26px;
  margin-left: 5px;
}

.about-program__item-wrapper {
  max-width: 196px;
  display: block;
}

.about-program__item-number {
  display: none;
}

@media (min-width: @tablet-width) {
  .about-program {
    padding: 0;
  }

  .about-program__heading {
    font-size: 60px;
    line-height: 1;
    margin-top: 43px;
    margin-bottom: 72px;
  }

  .about-program__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-program__item {
    font-size: 16px;
    line-height: 1.5;
    width: 324px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 87px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "1";
      display: block;
      .Oswald-R;
      font-size: 281px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      text-transform: uppercase;
      color: #f2f2f2;
      position: absolute;
      top: -40px;
      left: 115px;
      z-index: -1;
    }

    &:nth-child(2)::after {
      content: "2";
    }

    &:nth-child(3)::after {
      content: "3";
    }

    &:nth-child(4)::after {
      content: "4";
    }
  }

  .about-program__item-icon {
    margin-top: 15px;
    margin-bottom: 47px;
    margin-left: 14px;
  }

  .about-program__item-wrapper {
    max-width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .about-program__heading {
    margin-top: 0;
    margin-bottom: 73px;
  }

  .about-program__item {
    width: 245px;
    min-height: 230px;
  }
}
