.about-program {
  padding-bottom: 42px;
}

.about-programs__heading {
  .text-style-h2;
  margin: 0;
}

.about-program__list {
  .mp-null;
  list-style: none;
}

.about-program__item {
  .text-style-3;
  color: #444444;
  line-height: 1.29;
}
