.about-program {
  padding-bottom: 42px;
}

.about-programs__heading {
  .text-style-h2;
  margin: 0;
  margin-bottom: 28px;
}

.about-program__list {
  .mp-null;
  list-style: none;
}

.about-program__item {
  .text-style-3;
  color: #444444;
  line-height: 1.29;
  display: flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    margin-right: 20px;
  }
}

.about-program__item-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -25px;
}

.about-program__item-wrapper {
  max-width: 196px;
  display: block;
}

.about-program__item-number {
  display: none;
}

@media (min-width: @tablet-width) {
  .about-program {
    padding: 0;
  }

  .about-programs__heading {
    font-size: 60px;
    line-height: 1;
    margin-top: 43px;
    margin-bottom: 72px;
  }

  .about-program__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-program__item {
    font-size: 16px;
    line-height: 1.5;
    width: 324px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 87px;
    }

    &::before {
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 32px;
    }
  }

  .about-program__item-number {
    display: block;
    .Oswald-R;
    font-size: 281px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    color: #f2f2f2;
    position: absolute;
    top: -40px;
    left: 115px;
    z-index: -1;
  }

  .about-program__item-icon {
    left: 15px;
    top: 15px;
    margin-top: 0;
  }

  .about-program__item-wrapper {
    max-width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .about-programs__heading {
    margin-top: 0;
    margin-bottom: 55px;
  }

  .about-program__item {
    width: 300px;
    min-height: 230px;
  }
}
