.additional-goods__h2 {
  .text-style-6;
  line-height: 1;
  margin: 0;
}

.additional-goods__list {
  list-style: none;
  .mp-null;
}

.additional-goods__heading {
  .text-style-2;
  color: #222222;
  line-height: 1;
  margin: 0;
}
