.additional-goods {
  padding: 28px 0 25px 0;

  & > .additional-goods__line {
    margin: 20px 0 15px 0;
  }
}

.additional-goods__h2 {
  .text-style-6;
  line-height: 1;
  margin: 0;
  padding-bottom: 13px;
  position: relative;

  &::after {
    .green-line-mobile;
    width: 8000px;
    right: -7967px;
    top: 14px;
    z-index: -1;
  }
}

.additional-goods__list {
  .mp-null;
  list-style: none;
}

.additional-goods__heading {
  .text-style-2;
  color: #222222;
  line-height: 1;
  margin: 0;
}

.additional-goods__line {
  display: block;
  height: 1px;
  background-color: #111111;
  opacity: 0.1;
  width: 280px;
  margin: 17px 0 13px 0;
}

.additional-goods__properties {
  margin: 8px 0 12px 0;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .additional-goods {
    padding: 0;
  }

  .additional-goods__h2 {
    font-size: 36px;
    padding: 0;
    width: 413px;
    background-color: #ffffff;
    text-align: center;

    &::after {
      right: -4000px;
      top: 50%;
      margin-top: 5px;
    }
  }

  .additional-goods__line {
    display: none;
  }

  .additional-goods__list {
    margin-top: 84px;
  }

  .additional-goods__item {
    width: 708px;
    min-height: 140px;
    border: 1px solid #cdcdcd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 37px;
    padding-top: 12px;
    padding-bottom: 16px;

    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  .additional-goods__properties {
    margin: 0;
    margin-top: 3px;
  }

  .additional-goods__heading {
    font-size: 20px;
  }

  .additional-goods__order-btn {
    width: 633px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods__item {
    width: 895px;
    min-height: 73px;
    border-left: none;
    border-right: none;
    padding: 15px 0;
    justify-content: flex-end;
  }

  .additional-goods__h2 {
    text-align: center;
    margin-left: -39px;

    &::after {
      right: -4000px;
      margin-top: 3px;
    }
  }

  .additional-goods__heading {
    margin-right: auto;
  }

  .additional-goods__list {
    margin-top: 79px;
  }

  .additional-goods__order-btn {
    width: 245px;
  }
}
