.before-after__btn {
  .text-style-2;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  padding: 0;
  color: #111111;
  line-height: 1.25;
}

.before-after__strip {
  background-color: #ffffff;
  width: 82px;
  height: 12px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
}

.before-after__switch {
  background-color: #68b738;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  display: block;
}
