.bonus {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  height: 289px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 35px;
}

.bonus__text {
  .text-style-9;
  margin: 0;
  text-align: center;
  width: 161px;
  padding-bottom: 42px;
}
