.bonus {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  height: 289px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 35px;
}

.bonus__text {
  .text-style-9;
  margin: 0;
  text-align: center;
  width: 161px;
  padding-bottom: 42px;
}

@media (min-width: @tablet-width) {
  .bonus {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;
    padding-right: 120px;
    padding-bottom: 65px;
    justify-content: flex-end;
    margin-bottom: 74px;
  }

  .bonus__text {
    text-align: left;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .bonus {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    height: 289px;
    padding: 0 40px;
    padding-bottom: 38px;
    justify-content: center;
    margin: 0;
  }

  .bonus__text {
    text-align: center;
  }
}
