.contact-info {
  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }
}

.contact-info__heading {
  .text-style-2;
  color: #111111;
  line-height: 1.25;
  margin: 0;
  max-width: 125px;
  margin-right: 20px;
}

.contact-info__address {
  .text-style-3;
  color: #444444;
  line-height: 1.43;
  margin: 0;
  max-width: 135px;
}

.contact-info__map {
  margin: 0 auto;
  display: block;
  height: 362px;
}

.contact-info__wrapper {
  .wrapper;
  display: flex;
  justify-content: center;
  padding-top: 29px;
  padding-bottom: 24px;
}
