.copyright {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.copyright__text {
  .Arial;
  color: #444444;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.copyright__logo,
.copyright__logo-image {
  width: 27px;
  height: 34px;
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .copyright {
    justify-content: flex-end;
    margin: 0;
  }

  .copyright__text {
    margin-right: 23px;
  }
}
