.copyright {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  .Arial;
  color: #444444;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  text-decoration: none;

  &:hover + .copyright__logo {
    background-image: url("../img/htmlacademy--hover.svg");
  }

  &:active,
  &:active + .copyright__logo {
    opacity: 0.3;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
  display: inline-block;
  background-image: url("../img/htmlacademy.svg");

  &:hover {
    background-image: url("../img/htmlacademy--hover.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__text {
    margin-right: 23px;
  }
}
