.diet-programs__item {
  background-color: #f2f2f2;
}

.diet-programs__heading {
  .text-style-6;
  line-height: 1.54;
  text-transform: uppercase;
  margin: 0;
}

.diet-programs__description {
  .text-style-3;
  color: #444444;
  line-height: 1.29;
  padding: 0 20px;
  margin: 0;
}

.diet-programs__link {
  .def-link;
  .text-style-2;
  line-height: 1;
  margin: 0;
}
