.diet-programs__item {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 266px;
  padding: 22px 20px;
  padding-top: 24px;
  margin-bottom: 20px;
}

.diet-programs__heading {
  .text-style-6;
  line-height: 1.54;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 25px;
    margin-right: 16px;
  }
}

.diet-programs__heading-icon {
  position: absolute;
  top: 50%;

  &--slim {
    width: 35px;
    height: 49px;
    margin-top: -27px;
    left: 8px;
  }

  &--pro {
    width: 67px;
    height: 28px;
    margin-top: -14px;
    left: -9px;
  }
}

.diet-programs__description {
  .text-style-3;
  color: #444444;
  line-height: 1.29;
  margin: 0;
  margin-top: 20px;
}

.diet-programs__link {
  .def-link;
  .text-style-2;
  line-height: 1;
  margin: 0;
  height: 15px;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    margin-left: 12px;
  }
}

.diet-programs__line {
  .dividing-line;
  width: 240px;
  margin: 20px 0;
}

@media (min-width: @tablet-width) {
  .diet-programs__item {
    min-height: 372px;
    padding: 75px 62px 30px 53px;
    margin-bottom: 30px;
  }

  .diet-programs__heading {
    font-size: 36px;
    line-height: 1;
  }

  .diet-programs__description {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 57px;

    &--slim {
      max-width: 372px;
    }

    &--mass {
      max-width: 340px;
    }
  }

  .diet-programs__link {
    font-size: 20px;
    height: 18px;
  }

  .diet-programs__line {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .diet-programs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .diet-programs__item {
    min-width: 570px;
    min-height: 372px;
    padding: 40px 52px;
    margin-bottom: 75px;
  }

  .diet-programs__description {
    margin-top: 45px;
    margin-bottom: 35px;

    &--slim {
      max-width: 464px;
    }

    &--mass {
      max-width: 446px;
    }
  }
}
