.living-example {
  background-color: #f2f2f2;
}

.living-example__heading {
  .text-style-h2;
  margin: 0;
  display: block;
  position: absolute;
  top: 21px;
  left: 20px;
}

.living-example__program-description {
  .text-style-3;
  color: #444444;
  line-height: 1.29;
  margin: 78px 0 24px 0;
  max-width: 271px;
}

.living-example__program-price {
  .text-style-5;
  line-height: 1.43;
  margin: 35px 45px;
  min-width: 189px;
  color: #111111;
  text-align: center;
  align-self: center;
}

.living-example__wrapper {
  .wrapper;
  padding-top: 25px;
  position: relative;
}

.living-example__weight-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .living-example {
    background-color: #ffffff;
  }

  .living-example__wrapper {
    width: 768px;
    padding: 168px 30px;
    padding-bottom: 0;
  }

  .living-example__heading {
    font-size: 60px;
    line-height: 1;
    top: 43px;
    left: 30px;
  }

  .living-example__program-description {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 52px 0;
    max-width: 676px;
  }

  .living-example__program-price {
    width: 174px;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    text-align: right;
    margin-left: auto;
  }

  .living-example__weight-wrapper {
    justify-content: flex-start;
  }

  .living-example__slider {
    margin-top: 255px;
  }
}

@media (min-width: @desktop-width) {
  .living-example {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    background-color: #f2f2f2;
  }

  .living-example__wrapper {
    min-width: 512px;
    min-height: 462px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding-bottom: 40px;
  }

  .living-example__heading {
    top: -135px;
    left: 40px;
  }

  .living-example__program-description {
    margin: 71px 0 68px 0;
    max-width: 432px;
  }

  .living-example__program-price {
    width: 326px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
  }

  .living-example__weight-wrapper {
    width: 430px;
  }

  .living-example__slider {
    margin-top: 0;
    margin-left: 79px;
  }
}
