.living-example {
  background-color: #f2f2f2;
}

.living-example__heading {
  .text-style-h2;
  margin: 0;
}

.living-example__program-description {
  .text-style-3;
  color: #444444;
  line-height: 1.29;
  margin: 20px 0 25px 0;
}

.living-example__program-price {
  .text-style-5;
  line-height: 1.43;
  margin: 38px 0;
  color: #111111;
  text-align: center;
}

.living-example__wrapper {
  .wrapper;
  padding-top: 20px;
  padding-bottom: 36px;
}

.living-example__weight-wrapper {
  display: flex;
  justify-content: space-between;
}
