.main-form {
  background-color: #ffffff;
}

.main-form__fieldset {
  .mp-null;
  border: none;
}

.main-form__send-form {
  .text-style-5;
  color: #111111;
  line-height: 1.29;
  margin: 0;
}

.main-form__label {
  .text-style-2;
  color: #222222;
  line-height: 1.13;
}

.main-form__input::placeholder,
.main-form__comments::placeholder {
  .text-style-2;
  color: #444444;
  line-height: 1.13;
}


.main-form__input,
.main-form__comments {
  .Oswald-R;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  color: #444444;
  line-height: 1.13;
}

.main-form__comments {
  width: 280px;
  height: 150px;
  border: 1px solid #cdcdcd;
  resize: none;
}

.main-form__legend {
  .text-style-6;
  line-height: 1;
  margin: 0;
}

.main-form__required-fields {
  .text-style-8;
  line-height: 1.14;
  color: #444444;
  margin: 0;
}
