.main-form {
  background-color: #ffffff;
}

.main-form__fieldset {
  .mp-null;
  border: none;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.main-form__send-form {
  .text-style-5;
  color: #111111;
  line-height: 1.29;
  margin: 0;
  margin-bottom: 39px;
  margin-top: -3px;
  max-width: 226px;
}

.main-form__label {
  .text-style-2;
  color: #222222;
  line-height: 1.13;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &--text {
    margin-bottom: 14px;

    &:nth-of-type(3) > input {
      max-width: 172px;
    }
  }

  &--email {
    margin-bottom: 14px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 18px;
      height: 14px;
      background-image: url("../img/icon-mail.svg");
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -7px;
    }
  }

  &--tel {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 21px;
      height: 21px;
      background-image: url("../img/icon-phone.svg");
      position: absolute;
      top: 50%;
      right: 13px;
      margin-top: -10px;
    }
  }

  &--radio {
    margin-bottom: 12px;
    position: relative;
    display: flex;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      border-radius: 15px;
      margin-right: 13px;
    }
  }

  &--checkbox {
    margin-bottom: 12px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      margin-right: 16px;
    }
  }

  &--checkbox:last-child {
    margin-bottom: 35px;
  }
}

.main-form__input::placeholder,
.main-form__comments::placeholder {
  .text-style-2;
  color: #444444;
  line-height: 43px;
}

.main-form__comments::placeholder {
  line-height: 1.13;
}

.main-form__input,
.main-form__comments {
  .Oswald-R;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  color: #444444;
  line-height: 1.13;
  border: 1px solid #cdcdcd;
}

.main-form__input {
  display: flex;
  flex-grow: 1;
  padding: 0;

  &--text {
    margin-left: 13px;
    min-height: 45px;
    padding-left: 16px;
  }

  &--radio {
    flex-grow: 0;
    margin-right: 12px;
    display: none;
    position: relative;

    &:checked + .main-form__label--radio::after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-color: #68b738;
      border-radius: 6px;
      position: absolute;
      top: 50%;
      left: 9px;
      margin-top: -6px;
    }
  }

  &--checkbox {
    flex-grow: 0;
    margin-right: 12px;
    display: none;

    &:checked + .main-form__label--checkbox::after {
      content: "";
      display: block;
      width: 22px;
      height: 17px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 5px;
      margin-top: -8px;
    }
  }

  &--email {
    margin-left: 10px;
    min-height: 45px;
    padding-left: 16px;
    position: relative;
  }

  &--tel {
    margin-left: 10px;
    min-height: 45px;
    padding-left: 14px;
  }
}

.main-form__comments {
  width: 280px;
  height: 150px;
  border: 1px solid #cdcdcd;
  resize: none;
  padding: 13px;
  margin-top: 4px;
}

.main-form__legend {
  .text-style-6;
  line-height: 1;
  margin: 0;
  padding: 31px 0;

  &--contacts {
    position: relative;
    padding: 27px 0;

    &::after {
      .green-line-mobile;
      width: 99px;
      right: -20px;
      top: 50%;
      margin-top: -10px;
    }
  }

  &--comment {
    position: relative;
    padding-top: 28px;

    &::after {
      .green-line-mobile;
      width: 158px;
      right: -180px;
      top: 52%;
    }
  }

  &--extra {
    position: relative;
    padding-top: 28px;

    &::after {
      .green-line-mobile;
      width: 136px;
      right: -160px;
      top: 52%;
    }
  }
}

.main-form__required-fields {
  .text-style-8;
  font-size: 14px;
  line-height: 1;
  color: #444444;
  margin: 0;
  text-align: center;
  padding: 22px 0 33px 0;
}

.main-form__program-wrapper {
  width: 320px;
  padding: 21px 20px 22px 20px;
  margin: 9px auto 0 auto;
  border: 1px solid #ededed;
  min-height: 112px;
  display: flex;
}

.main-form__contacts-wrapper {
  padding-top: 7px;
}

.main-form__fieldset-wrapper {
  margin-top: 4px;
}

@media (min-width: @tablet-width) {
  .main-form {
    padding-top: 53px;
  }

  .main-form__fieldset {
    padding-left: 41px;
    padding-right: 37px;
    width: 707px;

    &--radio {
      padding: 0;
    }
  }

  .main-form__send-form {
    font-size: 20px;
    line-height: 1.5;
    max-width: 324px;
    margin-bottom: 63px;
  }

  .main-form__label {
    font-size: 20px;
    line-height: 1;

    &--text,
    &--email {
      margin-bottom: 20px;
    }

    &--text:last-child {
      margin-bottom: 70px;
    }

    &--radio {
      margin-bottom: 13px;
      font-size: 20px;
      line-height: 1;
    }

    &--checkbox {
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 1;
      min-width: 287px;
    }

    &--checkbox:last-child {
      margin-bottom: 32px;
    }
  }

  .main-form__input::placeholder,
  .main-form__comments::placeholder {
    font-size: 20px;
    line-height: 1;
  }

  .main-form__input,
  .main-form__comments {
    font-size: 20px;
    line-height: 1.5;
  }

  .main-form__input {
    &--text {
      min-height: 52px;
    }

    &--radio,
    &--checkbox {
      margin-right: 20px;
    }

    &--email {
      margin-left: 15px;
      min-height: 52px;
      padding: 0 20px;
    }

    &--tel {
      margin-left: 15px;
      min-height: 52px;
      padding: 0 20px;
    }
  }

  .main-form__comments {
    width: 630px;
    height: 174px;
    resize: none;
    padding: 15px 20px;
  }

  .main-form__program-wrapper {
    width: 630px;
    padding: 25px 20px 25px 28px;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    min-height: 196px;
    display: flex;
    align-items: center;
  }

  .main-form__legend {
    font-size: 36px;
    padding-top: 67.5px;
    padding-bottom: 73px;

    &--extra {
      padding-top: 55px;
      padding-bottom: 53px;
    }
  }

  .main-form__fieldset-wrapper {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
  }

  .main-form__btn-show {
    width: 283px;
    height: 52px;
    font-size: 20px;
    line-height: 1;
    margin-right: 60px;
  }

  .main-form__required-fields {
    font-size: 16px;
    line-height: 1;
    text-align: left;
    padding: 0;
  }

  .main-form__submit-section {
    padding-left: 41px;
    padding-right: 37px;
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 70px;
  }

  .main-form__contacts-wrapper {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
    padding-top: 53px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-form__fieldset {
    padding: 0;
    width: 1220px;

    &--form {
      max-width: 570px;
    }
  }

  .main-form__program-wrapper {
    width: 570px;
    margin: 0;
    height: 196px;
    align-self: flex-end;
  }

  .main-form__form-wrapper {
    padding: 0;
    margin: 0;

    &--form {
      width: 570px;
    }
  }

  .main-form__label {
    &--text:last-child {
      margin-bottom: 0;
    }

    &--email,
    &--tel {
      width: 570px;
      margin: 0;
    }

    &--checkbox {
      margin: 0;
      min-width: auto;
    }

    &--checkbox:last-child {
      margin-bottom: 0;
    }
  }

  .main-form__comments {
    width: 1220px;
  }

  .main-form__contacts-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-form__fieldset-wrapper {
    width: 1220px;
  }

  .main-form__legend {
    &--extra {
      padding-top: 63px;
    }
  }

  .main-form__btn-show {
    width: 568px;
    margin-right: 80px;
  }

  .main-form__submit-section {
    padding: 0;
    margin-top: 68px;
    margin-bottom: 80px;
  }
}
