.page-main {
  position: relative;
}

.page-main__background {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 305px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  margin-left: -160px;
}

.page-main__intro {
  .text-style-4;
  margin: 0;
}

.page-main__slogan {
  .text-style-5;
  color: #ffffff;
  line-height: 1;
  margin: 0;
}

.page-main__heading {
  .text-style-h2;
  margin: 0;
}

.page-main__create-programm {
  font-size: 14px;
  line-height: 1.29;
}

.page-main__wrapper {
  .wrapper;
}
