.page-header {
  background-color: #ffffff;
}

.page-header__logo {
  width: 191px;
  height: 39px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
  background-color: #ffffff;
  display: block;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 13px 20px 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__toggle {
  cursor: pointer;
  width: 25px;
  height: 19px;
}

.page-header__toggle-image {
  &--burger {
    display: block;
  }

  &--cross {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 30px 52px 30px;
  }

  .page-header__logo,
  .page-header__logo-image,
  .page-header__wrapper {
    width: 174px;
    height: 60px;
    margin: 0;
    padding: 0;
    display: block;
    border: none;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1300px;
    padding: 53px 40px 34px 40px;
    background-color: transparent;
  }

  .page-header__logo,
  .page-header__logo-image,
  .page-header__wrapper {
    width: 203px;
    height: 60px;
  }
}
