.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo,
.page-footer__logo-image {
  background-color: #f2f2f2;
  width: 128px;
  height: 24px;
  display: inline-block;
  margin-bottom: 28px;
}

.page-footer__wrapper {
  .wrapper;
  padding-top: 39px;
  padding-bottom: 22px;
  text-align: center;
}

.page-footer__line {
  display: block;
  height: 1px;
  background-color: #111111;
  opacity: 0.1;
  width: 280px;
}

.page-footer__map {
  width: 320px;
  height: 362px;
  margin: 0 auto;
  display: block;
  position: relative;

  & .page-footer__map-image {
    width: 320px;
    height: 362px;
    object-fit: cover;
    object-position: bottom;
  }

  &::after {
    content: "";
    display: block;
    width: 57px;
    height: 54px;
    background-image: url("../img/map-pin.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -39px 0 0 -28px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 768px;
    min-height: 150px;
    margin: 0 auto;
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo,
  .page-footer__logo-image {
    margin: 0;
  }

  .page-footer__line {
    display: none;
  }

  .page-footer__map {
    width: 768px;
    height: 396px;

    &::after {
      width: 120px;
      height: 106px;
      margin: -51px 0 0 -60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: auto;
    background-color: #f2f2f2;
  }

  .page-footer__wrapper {
    width: 1300px;
    padding: 50px 40px;
  }

  .page-footer__map {
    width: 1440px;
  }
}
