.page-main__background {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 305px;
  position: absolute;
  z-index: -1;
}
.page-main__intro {
  .text-style-4;
  .m-null;
}
.page-main__slogan {
  .text-style-5;
  .m-null;
}
.page-main__heading {
  .text-style-h2;
  .m-null;
}
