.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo,
.page-footer__logo-image {
  background-color: #f2f2f2;
  width: 128px;
  height: 24px;
  display: inline-block;
  margin-bottom: 31px;
}

.page-footer__wrapper {
  .wrapper;
  padding-top: 39px;
  padding-bottom: 22px;
  text-align: center;
}

.page-footer__line {
  .dividing-line;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    width: 768px;
    min-height: 150px;
    margin: 0 auto;
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo,
  .page-footer__logo-image {
    margin: 0;
  }

  .page-footer__line {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: auto;
    background-color: #f2f2f2;
  }

  .page-footer__wrapper {
    width: 1440px;
    padding: 50px 110px;
  }
}
