.properties {
  min-width: 138px;
}

.properties__string {
  display: flex;
  justify-content: space-between;
}

.properties__field,
.properties__value {
  .text-style-8;
  color: #444444;
  line-height: 1;
  border: none;
}

@media (min-width: @tablet-width) {
  .properties {
    min-width: 250px;
    margin-top: 18px;
    margin-bottom: 30px;
  }

  .properties__string {
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0;
  }

  .properties__field,
  .properties__value {
    font-size: 16px;
  }
}
