.properties {
  min-width: 138px;
}

.properties__string {
  display: flex;
  justify-content: space-between;
}

.properties__field,
.properties__value {
  .text-style-8;
  color: #444444;
  line-height: 1;
  border: none;
}
