.show-more__heading {
  .text-style-2;
  .mp-null;
  line-height: 1.25;
  color: #111111;
}

.show-more__description {
  .text-style-7;
  color: #444444;
  line-height: 1.33;
}

.show-more__show-btn {
  background-color: #f2f2f2;
  color: #444444;
}
