.social{
  .white-background-2;
}
.social__list{
  .def-list;
  .mp-null;
}
.social__link{
  background-repeat: no-repeat;
  display: block;
}
.social__link--vk{
  background-image: url("../img/icon-vk.svg");
  width: 22px;
  height: 12px;
}
.social__link--inst{
  background-image: url("../img/icon-insta.svg");
  width: 17px;
  height: 17px;
}
.social__link--fb{
  background-image: url("../img/icon-fb.svg");
  width: 10px;
  height: 19px;
}
