.mp-null() {
  margin: 0;
  padding: 0;
}
.m-null() {
  margin: 0;
}
.p-null() {
  padding: 0;
}
.def-link() {
  color: #111111;
  text-decoration: none;
}
.green-background() {
  background-color: #68b738;
}
.white-background() {
  background-color: #ffffff;
}
.white-background-2() {
  background-color: #f2f2f2;
}
.gray-background() {
  background-color: #f2f2f2;
}
.def-list() {
  list-style: none;
}
.Oswald-R() {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #111111;
}
.Oswald-M() {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  color: #111111;
}
.Arial() {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}
.text-style-1() {
  .Oswald-M;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
}
.text-style-2() {
  .Oswald-R;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  text-transform: uppercase;
}
.text-style-3() {
  .Arial;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
}
.text-style-4() {
  .Oswald-R;
  font-size: 36px;
  color: #ffffff;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
}
.text-style-5() {
  .Oswald-R;
  font-size: 14px;
  color: #ffffff;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
}
.text-style-6() {
  .Oswald-R;
  font-size: 24px;
  color: #111111;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  text-transform: uppercase;
}
.text-style-7() {
  .Arial;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
}
.text-style-h2() {
  .Oswald-R;
  font-size: 36px;
  color: #111111;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
}
.button-text-style() {
  .Oswald-R;
  font-size: 14px;
  color: #ffffff;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  text-transform: uppercase;
}
