.mp-null() {
  margin: 0;
  padding: 0;
}
.def-link() {
  color: #111111;
  text-decoration: none;
}
.Oswald-R() {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
.Oswald-M() {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
}
.Arial() {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}
.text-style-1() {
  .Oswald-M;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
}
.text-style-2() {
  .Oswald-R;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  text-transform: uppercase;
}
.text-style-3() {
  .Arial;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
}
.text-style-4() {
  .Oswald-R;
  font-size: 36px;
  color: #ffffff;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
}
.text-style-5() {
  .Oswald-R;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  text-transform: uppercase;
}
.text-style-6() {
  .Oswald-R;
  font-size: 24px;
  color: #111111;
  font-stretch: normal;
  font-style: normal;
}
.text-style-7() {
  .Arial;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
}
.text-style-8() {
  .Arial;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
}
.text-style-9() {
  .Arial;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  color: #ffffff;
}
.text-style-10() {
  .Oswald-R;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  color: #222222;
}
.text-style-11() {
  .Oswald-R;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  color: #111111;
}
.text-style-h2() {
  .Oswald-R;
  font-size: 36px;
  color: #111111;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
}
.button-text-style() {
  .Oswald-R;
  font-size: 16px;
  color: #ffffff;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  text-transform: uppercase;
}
.wrapper() {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.dividing-line() {
  display: block;
  height: 1px;
  background-color: #111111;
  opacity: 0.1;
}

.green-line-mobile() {
  content: "";
  display: block;
  height: 3px;
  background-color: #68b738;
  position: absolute;
}
